docs/N8N_WORKFLOW_AUTO_OFFER.json
{
  "name": "PV-Service: Automatisierte KI-Angebotserstellung",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "precheck-submitted",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Precheck submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "precheck-submitted"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.api_base_url + $json.body.api_endpoints.precheck_data }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-precheck",
      "name": "HTTP: Precheck-Daten abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "django-api-key",
          "name": "Django API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn { json: { precheck: data } };"
      },
      "id": "code-wrap-precheck",
      "name": "Code: Precheck strukturieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Webhook: Precheck submitted').item.json.body.api_base_url + $('Webhook: Precheck submitted').item.json.body.api_endpoints.pricing_data }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-pricing",
      "name": "HTTP: Preisliste abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "django-api-key",
          "name": "Django API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn { json: { pricing: data } };"
      },
      "id": "code-wrap-pricing",
      "name": "Code: Preisliste strukturieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const precheck = $('Code: Precheck strukturieren').item.json.precheck || {};\nconst pricing = $('Code: Preisliste strukturieren').item.json.pricing || {};\n\nconst products = (pricing.products || []).map((p) => ({\n  sku: p.sku,\n  name: p.name,\n  category: p.category,\n  unit: p.unit,\n  sales_price_net: p.sales_price_net,\n  sales_price_gross: p.sales_price_gross,\n  vat_rate: p.vat_rate,\n}));\n\nconst prompt_input = {\n  precheck_id: precheck.precheck_id,\n  customer: precheck.customer || {},\n  site: precheck.site || {},\n  project: precheck.project || {},\n  pricing_summary: precheck.pricing || {},\n  completeness: precheck.completeness || {},\n  pricing_catalog: products,\n};\n\nreturn {\n  json: {\n    prompt_input,\n    context: {\n      precheck_id: precheck.precheck_id,\n      customer_name: precheck.customer?.name || 'Kunde',\n      customer_email: precheck.customer?.email || '',\n      site_address: precheck.site?.address || '',\n    }\n  }\n};"
      },
      "id": "code-prepare-gpt",
      "name": "Code: Daten für GPT vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        310
      ]
    },
    {
      "parameters": {
        "model": "gpt-5.0-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Du bist eine Angebots-KI für EDGARD Elektro. Analysiere Precheck-Daten und entscheide, ob ein vollständiges Angebot erstellt werden kann oder ob Kundendaten fehlen. Wenn genug Informationen vorhanden sind, stelle aus der Preisliste ein Angebot zusammen. Wenn kritische Informationen fehlen, verfasse eine freundliche deutsche E-Mail an den Kunden mit konkreten Rückfragen."
            },
            {
              "role": "user",
              "content": "Hier sind die Daten:\n```json\n{{ JSON.stringify($json.prompt_input, null, 2) }}\n```\n\nAufgabe:\n1. Prüfe Vollständigkeit anhand der Felder unter \"completeness\" sowie der Kundendaten.\n2. Wenn wesentliche Daten fehlen, liefere Status \"needs_more_data\", liste \"missing_fields\" auf und schreibe unter \"customer_message\" eine höfliche deutsche E-Mail mit Bitte um Nachlieferung.\n3. Wenn alle wichtigen Daten vorliegen, wähle passende Produkte aus \"pricing_catalog\", gib für jedes eine Menge, Netto-Einzel- und Gesamtpreis an, summiere Netto/VAT/Brutto in \"offer_totals\", und schreibe unter \"offer_summary\" einen kurzen deutschen Angebotstext (max. 120 Wörter) sowie unter \"customer_message\" eine versandfertige Angebots-E-Mail.\n\nANTWORT NUR ALS JSON (ohne Markdown) im Format:\n{\"status\":\"offer_ready\",\"completeness_score\":95,\"missing_fields\":[\"...\"],\"offer_items\":[{\"sku\":\"\",\"name\":\"\",\"quantity\":1,\"unit_price_net\":0,\"total_price_net\":0,\"vat_rate\":0.19,\"notes\":\"\"}],\"offer_totals\":{\"net\":0,\"vat\":0,\"gross\":0},\"offer_summary\":\"...\",\"customer_message\":\"...\"}\n- \"offer_items\" kann leer sein, wenn \"status\" = \"needs_more_data\".\n- Alle Texte bitte auf Deutsch."
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 2800
        }
      },
      "id": "openai-offer",
      "name": "OpenAI: GPT-5 Prüfung & Angebot",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1460,
        310
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\n\nlet aiResponse;\nif (Array.isArray(inputData)) {\n  aiResponse = inputData[0]?.message?.content || inputData[0]?.text;\n} else if (inputData.choices && Array.isArray(inputData.choices)) {\n  aiResponse = inputData.choices[0]?.message?.content || inputData.choices[0]?.text;\n} else if (inputData.message?.content) {\n  aiResponse = inputData.message.content;\n} else if (inputData.text) {\n  aiResponse = inputData.text;\n}\n\nif (!aiResponse) {\n  throw new Error('Leere Antwort von OpenAI');\n}\n\nlet parsed;\ntry {\n  const match = aiResponse.match(/```json\\s*([\\s\\S]*?)```/i);\n  if (match) {\n    parsed = JSON.parse(match[1]);\n  } else {\n    parsed = JSON.parse(aiResponse);\n  }\n  if (!parsed.status) {\n    throw new Error('status fehlt in KI-Antwort');\n  }\n} catch (error) {\n  parsed = {\n    status: 'needs_more_data',\n    completeness_score: 40,\n    missing_fields: ['KI-Antwort konnte nicht geparst werden'],\n    offer_items: [],\n    offer_totals: { net: 0, vat: 0, gross: 0 },\n    offer_summary: 'Bitte manuell prüfen.',\n    customer_message: `Fehler beim automatischen Angebot: ${error.message}`\n  };\n}\n\nreturn { json: parsed };"
      },
      "id": "code-parse-gpt",
      "name": "Code: GPT-Antwort parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1710,
        310
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "operation": "equals",
              "value1": "={{ $json.status }}",
              "value2": "offer_ready"
            }
          ]
        }
      },
      "id": "if-offer-ready",
      "name": "IF: Angebot möglich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1960,
        310
      ]
    },
    {
      "parameters": {
        "toEmail": "={{ $('Code: Daten für GPT vorbereiten').item.json.context.customer_email || 'vertrieb@edgard-elektro.de' }}",
        "subject": "PV-Angebot für Precheck #{{ $('Code: Daten für GPT vorbereiten').item.json.context.precheck_id }}",
        "message": "Guten Tag {{ $('Code: Daten für GPT vorbereiten').item.json.context.customer_name }},\n\nwir freuen uns, Ihnen folgendes Angebot zu Ihrem PV-Projekt zu präsentieren:\n\n**Zusammenfassung**\n{{ $json.offer_summary }}\n\n**Positionen**\n{{ $json.offer_items.map((item, i) => `${i+1}. ${item.name} (${item.sku || 'n/a'}) - ${item.quantity} x ${item.unit_price_net} EUR netto = ${item.total_price_net} EUR`).join('\\n') }}\n\n**Summen (Netto/Brutto)**\nNetto: {{ $json.offer_totals.net }} EUR\nMwSt.: {{ $json.offer_totals.vat }} EUR\nBrutto: {{ $json.offer_totals.gross }} EUR\n\n{{ $json.customer_message }}\n\nBeste Grüße\nIhr EDGARD Elektro Team\n---\nPrecheck-ID: {{ $('Code: Daten für GPT vorbereiten').item.json.context.precheck_id }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "email-offer",
      "name": "Email: Angebot an Kunde",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2210,
        190
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "toEmail": "={{ $('Code: Daten für GPT vorbereiten').item.json.context.customer_email || 'vertrieb@edgard-elektro.de' }}",
        "subject": "Bitte um zusätzliche Informationen – Precheck #{{ $('Code: Daten für GPT vorbereiten').item.json.context.precheck_id }}",
        "message": "Guten Tag {{ $('Code: Daten für GPT vorbereiten').item.json.context.customer_name }},\n\nfür ein qualifiziertes Angebot benötigen wir noch folgende Angaben:\n\n{{ $json.missing_fields && $json.missing_fields.length ? $json.missing_fields.map((field, i) => `${i+1}. ${field}`).join('\\n') : 'Bitte prüfen Sie Ihre Eingaben.' }}\n\n{{ $json.customer_message }}\n\nVielen Dank und freundliche Grüße\nIhr EDGARD Elektro Team\n---\nPrecheck-ID: {{ $('Code: Daten für GPT vorbereiten').item.json.context.precheck_id }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "email-missing",
      "name": "Email: Daten nachfordern",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2210,
        430
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"precheck_id\": $('Webhook: Precheck submitted').item.json.body.precheck_id, \"status\": $json.status, \"customer_email\": $('Code: Daten für GPT vorbereiten').item.json.context.customer_email } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2460,
        310
      ]
    }
  ],
  "connections": {
    "Webhook: Precheck submitted": {
      "main": [
        [
          {
            "node": "HTTP: Precheck-Daten abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Precheck-Daten abrufen": {
      "main": [
        [
          {
            "node": "Code: Precheck strukturieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Precheck strukturieren": {
      "main": [
        [
          {
            "node": "HTTP: Preisliste abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Preisliste abrufen": {
      "main": [
        [
          {
            "node": "Code: Preisliste strukturieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Preisliste strukturieren": {
      "main": [
        [
          {
            "node": "Code: Daten für GPT vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Daten für GPT vorbereiten": {
      "main": [
        [
          {
            "node": "OpenAI: GPT-5 Prüfung & Angebot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: GPT-5 Prüfung & Angebot": {
      "main": [
        [
          {
            "node": "Code: GPT-Antwort parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: GPT-Antwort parsen": {
      "main": [
        [
          {
            "node": "IF: Angebot möglich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Angebot möglich?": {
      "main": [
        [
          {
            "node": "Email: Angebot an Kunde",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: Daten nachfordern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Angebot an Kunde": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Daten nachfordern": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}